Node_Red_Pi3B
[{"id":"b1338775.c7d0a8","type":"tab","label":"LoRa Receiver"},{"id":"2a1f348a.53e8ac","type":"tab","label":"GPS LoRa Receiver"},{"id":"5712332c.29d35c","type":"tab","label":"CPU Data"},{"id":"b277b31.19bd95","type":"tab","label":"GPS_LoRa_BD"},{"id":"bd30920.b702a7","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"tm","tz":""},{"id":"61e3f1b9.e921","type":"gpsd","z":"b277b31.19bd95","name":"LoRa GPS","hostname":"localhost","port":"2947","tpv":true,"sky":false,"info":false,"device":false,"gst":false,"att":false,"x":76.00001525878906,"y":211.00004386901855,"wires":[["7f1afbff.17b304"]]},{"id":"7f1afbff.17b304","type":"trigger","z":"b277b31.19bd95","op1":"There's GPS Data at ","op2":"No GPS !","op1type":"str","op2type":"str","duration":"1","extend":true,"units":"min","reset":"","name":"If No GPS","x":231.16692352294922,"y":165.00022411346436,"wires":[["1f2db671.6fab6a","ede11f4b.19e9b"]]},{"id":"ff5be8c5.eeb1b8","type":"delay","z":"b277b31.19bd95","name":"Limit rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":127.16674423217773,"y":285.0000982284546,"wires":[["6b27ceb4.15803","ae597c42.b28c"]]},{"id":"5d0ea041.1d8c4","type":"rpi-gpio in","z":"5712332c.29d35c","name":"","pin":"22","intype":"tri","debounce":"25","read":false,"x":112.0000114440918,"y":46.000006675720215,"wires":[["f1d77ae3.eb62d8"]]},{"id":"f1d77ae3.eb62d8","type":"debug","z":"5712332c.29d35c","name":"","active":false,"console":"false","complete":"payload","x":304.00001525878906,"y":47.00000762939453,"wires":[]},{"id":"7d1a3b67.b19f94","type":"catch","z":"5712332c.29d35c","name":"Catch Error","scope":null,"x":120.00003051757812,"y":112.00003433227539,"wires":[["c79452b7.8a3dc"]]},{"id":"c79452b7.8a3dc","type":"file","z":"5712332c.29d35c","name":"Error File","filename":"/home/pi/Error.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":354.0000305175781,"y":114.66666412353516,"wires":[]},{"id":"c3310b70.7287b8","type":"exec","z":"b277b31.19bd95","command":"sudo /root/SkyLoon/Main_Pi0/LORA_Sender/./chisterapi","addpay":true,"append":"","useSpawn":"","timer":"","name":"LoRa Send","x":709.1669311523438,"y":377.1666679382324,"wires":[["873925fa.381ff8"],[],[]]},{"id":"127152a5.3c2d4d","type":"inject","z":"5712332c.29d35c","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123.16672134399414,"y":203.00001621246338,"wires":[["d1bb3f85.d775f"]]},{"id":"24c71d5b.00b722","type":"exec","z":"5712332c.29d35c","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Temp","x":265.1668243408203,"y":256.5001802444458,"wires":[["470f5f47.0e817","96eab6cb.8848a8"],[],[]]},{"id":"6ca26ecc.a1616","type":"file","z":"5712332c.29d35c","name":"","filename":"/home/pi/Bibi.txt","appendNewline":false,"createDir":false,"overwriteFile":"false","x":611.1670265197754,"y":271.0001583099365,"wires":[]},{"id":"470f5f47.0e817","type":"exec","z":"5712332c.29d35c","command":"vcgencmd measure_volts","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Volt","x":264.00012588500977,"y":309.33343601226807,"wires":[["96eab6cb.8848a8"],[],[]]},{"id":"d1bb3f85.d775f","type":"exec","z":"5712332c.29d35c","command":"date","addpay":false,"append":"","useSpawn":"","timer":"","name":"Time","x":258.00003147125244,"y":200.66672039031982,"wires":[["24c71d5b.00b722","96eab6cb.8848a8"],[],[]]},{"id":"d3278200.4b0bf","type":"split","z":"b277b31.19bd95","name":"","splt":"\\n","x":359.16676330566406,"y":223.000093460083,"wires":[["ff3f1cf4.3f33b"]]},{"id":"5ebaab08.52f3d4","type":"join","z":"b277b31.19bd95","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"_","timeout":"5","count":"6","x":532.0001678466797,"y":348.0003356933594,"wires":[["c3310b70.7287b8"]]},{"id":"ff3f1cf4.3f33b","type":"switch","z":"b277b31.19bd95","name":"GPS Data","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"btwn","v":"4","vt":"num","v2":"8","v2t":"num"}],"checkall":"true","outputs":6,"x":488.0001525878906,"y":240.66668319702148,"wires":[["5faa9a4e.ac99c4"],["bdc45261.a8d5d"],["9893245.22d55d8"],["a44c50d8.ad9c1"],["73e1a1d0.84e1"],["5ebaab08.52f3d4"]]},{"id":"fa8d29da.6da818","type":"inject","z":"b277b31.19bd95","name":"","topic":"","payload":"{\"class\":\"TPV\",\"tag\":\"RMC\",\"device\":\"/dev/ttyS0\",\"mode\":3,\"time\":\"2017-08-31T14:58:52.000Z\",\"ept\":0.005,\"lat\":46.5215,\"lon\":6.503255,\"alt\":102,\"epv\":23,\"track\":327.88,\"speed\":0.376,\"climb\":0.1,\"epc\":23}","payloadType":"json","repeat":"","crontab":"","once":false,"x":107.33337020874023,"y":668.0001163482666,"wires":[[]]},{"id":"1f2db671.6fab6a","type":"debug","z":"b277b31.19bd95","name":"","active":false,"console":"false","complete":"false","x":413.3333549499512,"y":127.00000762939453,"wires":[]},{"id":"b4b71c19.b6714","type":"debug","z":"5712332c.29d35c","name":"","active":true,"console":"false","complete":"payload","x":641.0004272460938,"y":215.00009155273438,"wires":[]},{"id":"bdc45261.a8d5d","type":"function","z":"b277b31.19bd95","name":"Speed","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":714.0004959106445,"y":192.00005054473877,"wires":[[]]},{"id":"4a4ed7bf.21b098","type":"comment","z":"b277b31.19bd95","name":"Base de donnée","info":"https://www.w3schools.com/sql/sql_insert.asp","x":862.1668663024902,"y":749.0000629425049,"wires":[]},{"id":"73e1a1d0.84e1","type":"function","z":"b277b31.19bd95","name":"Altitude","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":720.0002479553223,"y":299.33334159851074,"wires":[[]]},{"id":"9893245.22d55d8","type":"function","z":"b277b31.19bd95","name":"Latitude","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":716.0004959106445,"y":229.33334636688232,"wires":[[]]},{"id":"5faa9a4e.ac99c4","type":"function","z":"b277b31.19bd95","name":"Time","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":716.0003318786621,"y":155.33334159851074,"wires":[[]]},{"id":"a44c50d8.ad9c1","type":"function","z":"b277b31.19bd95","name":"Longitude","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":718.0003318786621,"y":263.3333492279053,"wires":[[]]},{"id":"873925fa.381ff8","type":"debug","z":"b277b31.19bd95","name":"","active":true,"console":"false","complete":"payload","x":890.5001640319824,"y":349.3333969116211,"wires":[]},{"id":"88febe8e.14d82","type":"switch","z":"b277b31.19bd95","name":"If all GPS Data","property":"parts.index","propertyType":"msg","rules":[{"t":"cont","v":"13","vt":"num"},{"t":"btwn","v":"0","vt":"num","v2":"12","v2t":"num"}],"checkall":"true","outputs":2,"x":250.00018310546875,"y":723.0001611709595,"wires":[[],["c6223f83.3da3c"]]},{"id":"c6223f83.3da3c","type":"file","z":"b277b31.19bd95","name":"Error.txt","filename":"/home/pi/Error.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":454.1667137145996,"y":727.0000972747803,"wires":[]},{"id":"2de4c12.363763e","type":"inject","z":"b1338775.c7d0a8","name":"Start Réception","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112.16670989990234,"y":111.00003814697266,"wires":[["e27e86d7.0e3088"]]},{"id":"e27e86d7.0e3088","type":"exec","z":"b1338775.c7d0a8","command":"/home/pi/lora_receiver/./lora_receiver","addpay":false,"append":"","useSpawn":"","timer":"","name":"Exec LoRa Receiver","x":318.16678619384766,"y":112.50004768371582,"wires":[["282b1664.c3f26a"],["282b1664.c3f26a"],["282b1664.c3f26a"]]},{"id":"d80efa0b.267788","type":"split","z":"b1338775.c7d0a8","name":"","splt":"_","x":284.7382526397705,"y":534.8096313476562,"wires":[["932406b4.eb35a8","ac38ce24.2c667","d49c1c20.b35e","be5e8153.bde95","786966f8.8cc3b8","cb3ab9e6.760888","b3bc91d1.225bf"]]},{"id":"780ce6b5.9f1788","type":"inject","z":"b1338775.c7d0a8","name":"Test","topic":"","payload":">>Node: 8, Length: 53, Content: 1_2017-08-31T14:58:52.000Z_0.005_46.5215_6.503255_102","payloadType":"str","repeat":"","crontab":"","once":false,"x":112.9049015045166,"y":666.8096947669983,"wires":[["49fe7cd.2872a84"]]},{"id":"51ceb42e.8eb41c","type":"join","z":"b1338775.c7d0a8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","timeout":"","count":"2","x":510.16673851013184,"y":232.33345699310303,"wires":[["4a472fb1.49959"]]},{"id":"b3bc91d1.225bf","type":"switch","z":"b1338775.c7d0a8","name":"GPS Data","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"true","outputs":3,"x":379.6667709350586,"y":230.0001678466797,"wires":[["51ceb42e.8eb41c"],["4a472fb1.49959"],["51ceb42e.8eb41c"]]},{"id":"4a472fb1.49959","type":"join","z":"b1338775.c7d0a8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","timeout":"","count":"2","x":533.0002365112305,"y":260.0001449584961,"wires":[["7e58a1d3.15134","cc8c7a33.b01b48"]]},{"id":"7e58a1d3.15134","type":"file","z":"b1338775.c7d0a8","name":"KML File","filename":"/home/pi/lora_receiver/KML/Balloon.kml","appendNewline":true,"createDir":false,"overwriteFile":"false","x":669.666748046875,"y":229.00011253356934,"wires":[]},{"id":"96eab6cb.8848a8","type":"join","z":"5712332c.29d35c","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"__","timeout":"","count":"3","x":441.1666946411133,"y":243.00003242492676,"wires":[["b4b71c19.b6714"]]},{"id":"cc8c7a33.b01b48","type":"delay","z":"b1338775.c7d0a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":525.5002365112305,"y":315.66674041748047,"wires":[["6523cdc7.24f2c4"]]},{"id":"efec258e.6f1e28","type":"comment","z":"b277b31.19bd95","name":"Send ! or not send","info":"https://www.w3schools.com/sql/sql_insert.asp","x":833.333381652832,"y":679.5924987792969,"wires":[]},{"id":"6523cdc7.24f2c4","type":"exec","z":"b1338775.c7d0a8","command":"sudo bash /home/pi/lora_receiver/KML/KML.sh","addpay":false,"append":"","useSpawn":"","timer":"","name":"KML.sh","x":684.3334159851074,"y":316.0000762939453,"wires":[["9f4cc297.b9635"],["9f4cc297.b9635"],["9f4cc297.b9635"]]},{"id":"a43446c5.eb8d48","type":"exec","z":"b1338775.c7d0a8","command":"sudo cp /home/pi/lora_receiver/KML/Modele_Balloon.kml /home/pi/lora_receiver/KML/Balloon.kml","addpay":false,"append":"","useSpawn":"","timer":"","name":"Remise à zéro des fichier.kml","x":295.00006103515625,"y":40.666690826416016,"wires":[["e191262c.fde178"],[],[]]},{"id":"c024d8ac.fca5e8","type":"inject","z":"b1338775.c7d0a8","name":"","topic":"","payload":"RàZ","payloadType":"str","repeat":"","crontab":"","once":false,"x":93.00004196166992,"y":40.66669464111328,"wires":[["a43446c5.eb8d48"]]},{"id":"3d6a8085.d1311","type":"inject","z":"b277b31.19bd95","name":"PowerOff","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101.16667938232422,"y":110.00000762939453,"wires":[["d8104fe5.79cac"]]},{"id":"d8104fe5.79cac","type":"exec","z":"b277b31.19bd95","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":261.16670989990234,"y":98.5000057220459,"wires":[[],[],[]]},{"id":"38baba7e.2cbc76","type":"gpsd","z":"2a1f348a.53e8ac","name":"LoRa GPS","hostname":"localhost","port":"2947","tpv":true,"sky":false,"info":false,"device":false,"gst":false,"att":false,"x":73.00004959106445,"y":177.00005912780762,"wires":[["977ba761.2a88b8"]]},{"id":"977ba761.2a88b8","type":"trigger","z":"2a1f348a.53e8ac","op1":"There's GPS Data at ","op2":"No GPS !","op1type":"str","op2type":"str","duration":"1","extend":true,"units":"min","reset":"","name":"If No GPS","x":178.1669578552246,"y":101.000244140625,"wires":[["2c567ee2.e51822"]]},{"id":"3edd29bd.c92026","type":"delay","z":"2a1f348a.53e8ac","name":"Limit rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":188.16676330566406,"y":233.0001220703125,"wires":[["584a205.9d7d1e"]]},{"id":"584a205.9d7d1e","type":"split","z":"2a1f348a.53e8ac","name":"","splt":"\\n","x":304.16676330566406,"y":191.00008964538574,"wires":[["8a303a3b.094d18"]]},{"id":"8a303a3b.094d18","type":"switch","z":"2a1f348a.53e8ac","name":"GPS Data","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"true","outputs":5,"x":437.000186920166,"y":216.66667556762695,"wires":[["ff48cefe.a73a5"],["28d79a48.e56916"],["37b5f5f3.9a1b7a","6a8509f5.805138"],["2d92b50d.33bcea","40a49a9d.3e2154"],["ba938bd5.328198","6a8509f5.805138"]]},{"id":"2c567ee2.e51822","type":"debug","z":"2a1f348a.53e8ac","name":"","active":false,"console":"false","complete":"false","x":342.3334312438965,"y":84.00003433227539,"wires":[]},{"id":"28d79a48.e56916","type":"function","z":"2a1f348a.53e8ac","name":"Speed","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":641.0006484985352,"y":118.00006866455078,"wires":[["5d81ae1a.b10cd"]]},{"id":"fd5a0bb.95104f8","type":"comment","z":"2a1f348a.53e8ac","name":"Base de donnée","info":"https://www.w3schools.com/sql/sql_insert.asp","x":846.1669158935547,"y":195.0001220703125,"wires":[]},{"id":"ba938bd5.328198","type":"function","z":"2a1f348a.53e8ac","name":"Altitude","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":647.0004005432129,"y":225.33335971832275,"wires":[["5d81ae1a.b10cd"]]},{"id":"37b5f5f3.9a1b7a","type":"function","z":"2a1f348a.53e8ac","name":"Latitude","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":643.0006484985352,"y":155.33336448669434,"wires":[["5d81ae1a.b10cd"]]},{"id":"ff48cefe.a73a5","type":"function","z":"2a1f348a.53e8ac","name":"Time","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":643.0004844665527,"y":81.33335971832275,"wires":[["5d81ae1a.b10cd"]]},{"id":"2d92b50d.33bcea","type":"function","z":"2a1f348a.53e8ac","name":"Longitude","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":645.0004844665527,"y":189.33336734771729,"wires":[["5d81ae1a.b10cd"]]},{"id":"5d81ae1a.b10cd","type":"debug","z":"2a1f348a.53e8ac","name":"","active":false,"console":"false","complete":"false","x":846.8334274291992,"y":141.33336925506592,"wires":[]},{"id":"6a8509f5.805138","type":"join","z":"2a1f348a.53e8ac","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","timeout":"","count":"2","x":578.0000286102295,"y":290.0000057220459,"wires":[["40a49a9d.3e2154"]]},{"id":"40a49a9d.3e2154","type":"join","z":"2a1f348a.53e8ac","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","timeout":"","count":"2","x":600.8335266113281,"y":317.66669368743896,"wires":[["26d26838.557388","b3b8854c.61cbd8"]]},{"id":"26d26838.557388","type":"file","z":"2a1f348a.53e8ac","name":"KML File","filename":"/home/pi/lora_receiver/KML/Receiver.kml","appendNewline":true,"createDir":false,"overwriteFile":"false","x":759.5001258850098,"y":284.6667251586914,"wires":[]},{"id":"b3b8854c.61cbd8","type":"delay","z":"2a1f348a.53e8ac","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":625.3335304260254,"y":363.3333549499512,"wires":[["9bd3c82a.75e2b8"]]},{"id":"9bd3c82a.75e2b8","type":"exec","z":"2a1f348a.53e8ac","command":"sudo bash /home/pi/lora_receiver/KML/KML2.sh","addpay":false,"append":"","useSpawn":"","timer":"","name":"KML2.sh","x":774.166711807251,"y":357.6666488647461,"wires":[["78e4b0e3.2fee4"],["78e4b0e3.2fee4"],["78e4b0e3.2fee4"]]},{"id":"78e4b0e3.2fee4","type":"debug","z":"2a1f348a.53e8ac","name":"","active":false,"console":"false","complete":"false","x":948.0002174377441,"y":357.6668109893799,"wires":[]},{"id":"8ac83e84.33723","type":"exec","z":"2a1f348a.53e8ac","command":"sudo cp /home/pi/lora_receiver/KML/Modele_receiver.kml /home/pi/lora_receiver/KML/Receiver.kml","addpay":false,"append":"","useSpawn":"","timer":"","name":"Remise à zéro des fichier.kml","x":283.0000190734863,"y":27.5,"wires":[["bc875d4d.6c759"],["bc875d4d.6c759"],["bc875d4d.6c759"]]},{"id":"2ea8b777.b07358","type":"inject","z":"2a1f348a.53e8ac","name":"","topic":"","payload":"RàZ","payloadType":"str","repeat":"","crontab":"","once":false,"x":81,"y":27.500003814697266,"wires":[["8ac83e84.33723"]]},{"id":"bc875d4d.6c759","type":"debug","z":"2a1f348a.53e8ac","name":"","active":false,"console":"false","complete":"false","x":516.166690826416,"y":26.833374977111816,"wires":[]},{"id":"52436ed2.8bc34","type":"tail","z":"b1338775.c7d0a8","name":"Read Data","filetype":"text","split":true,"filename":"/home/pi/lora_receiver/KML/All_received_data.txt","x":141.73822212219238,"y":535.4762411117554,"wires":[["d80efa0b.267788","bac085db.f30898","9119aef3.2ad3","31d50564.6c0c2a","30b0d4bb.949edc","b94ad46d.a61d28","454c7795.3a90e8","2e60a01.e8a806","132f3936.14c047"]]},{"id":"282b1664.c3f26a","type":"debug","z":"b1338775.c7d0a8","name":"","active":true,"console":"false","complete":"payload","x":534.0004425048828,"y":116.0000467300415,"wires":[]},{"id":"bac085db.f30898","type":"debug","z":"b1338775.c7d0a8","name":"Print received data","active":false,"console":"false","complete":"payload","x":301.7382984161377,"y":577.1429576873779,"wires":[]},{"id":"49fe7cd.2872a84","type":"file","z":"b1338775.c7d0a8","name":"Data","filename":"/home/pi/lora_receiver/KML/All_received_data.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":257.7382335662842,"y":665.4763202667236,"wires":[]},{"id":"e191262c.fde178","type":"exec","z":"b1338775.c7d0a8","command":"sudo truncate -s 0 /home/pi/lora_receiver/KML/All_received_data.txt","addpay":false,"append":"","useSpawn":"","timer":"","name":"idem","x":490.0000305175781,"y":40.000003814697266,"wires":[[],[],[]]},{"id":"c6de917c.da467","type":"inject","z":"b1338775.c7d0a8","name":"","topic":"","payload":"Stop Réception","payloadType":"str","repeat":"","crontab":"","once":false,"x":118.00001525878906,"y":174.0000705718994,"wires":[["9aab48c7.8ab9a8"]]},{"id":"9aab48c7.8ab9a8","type":"exec","z":"b1338775.c7d0a8","command":"sudo killall lora_receiver","addpay":false,"append":"","useSpawn":"","timer":"","name":"Killall ","x":275.16674423217773,"y":176.50021362304688,"wires":[[],[],[]]},{"id":"313f9e1f.e3f8e2","type":"inject","z":"b1338775.c7d0a8","name":"PowerOff","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132.57151222229004,"y":744.4762496948242,"wires":[["57b5d47e.fbec1c"]]},{"id":"57b5d47e.fbec1c","type":"exec","z":"b1338775.c7d0a8","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":274.5715579986572,"y":746.9762477874756,"wires":[[],[],[]]},{"id":"1e916c76.71af84","type":"inject","z":"b1338775.c7d0a8","name":"-----","topic":"---------------------------------------","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":115.73819923400879,"y":704.8096580505371,"wires":[["f1963ecd.cb037"]]},{"id":"f1963ecd.cb037","type":"debug","z":"b1338775.c7d0a8","name":"","active":true,"console":"false","complete":"false","x":283.7381992340088,"y":703.142936706543,"wires":[]},{"id":"ae597c42.b28c","type":"counter","z":"b277b31.19bd95","name":"Counter","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":268.000057220459,"y":326.0000820159912,"wires":[["7cafd2a9.c3d2bc"]]},{"id":"7cafd2a9.c3d2bc","type":"function","z":"b277b31.19bd95","name":"function","func":"//msg.parts = 1;\nmsg.payload = msg.count;\nreturn msg;","outputs":1,"noerr":0,"x":388.00006103515625,"y":378.00004386901855,"wires":[["5ebaab08.52f3d4"]]},{"id":"6b27ceb4.15803","type":"delay","z":"b277b31.19bd95","name":"delay","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":247.1667823791504,"y":245.66672229766846,"wires":[["d3278200.4b0bf"]]},{"id":"ede11f4b.19e9b","type":"file","z":"b277b31.19bd95","name":"Error.txt","filename":"/home/pi/Error.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":406.0115623474121,"y":168.02775955200195,"wires":[]},{"id":"34cdafc9.76b9a","type":"mysql","z":"b1338775.c7d0a8","mydb":"bd30920.b702a7","name":"","x":1119.7381858825684,"y":563.1430501937866,"wires":[[]]},{"id":"9f4cc297.b9635","type":"debug","z":"b1338775.c7d0a8","name":"Debug","active":false,"console":"false","complete":"payload","x":824.6666259765625,"y":308,"wires":[]},{"id":"cacb21b2.0023a","type":"inject","z":"b1338775.c7d0a8","name":"","topic":"","payload":"{\"class\":\"TPV\",\"tag\":\"RMC\",\"device\":\"/dev/ttyS0\",\"mode\":3,\"time\":\"2017-08-31T14:58:52.000Z\",\"ept\":0.005,\"lat\":46.5215,\"lon\":6.503255,\"alt\":102,\"epv\":23,\"track\":327.88,\"speed\":0.376,\"climb\":0.1,\"epc\":23}","payloadType":"json","repeat":"","crontab":"","once":false,"x":94.0000991821289,"y":228.00018882751465,"wires":[[]]},{"id":"2acc6b07.296da4","type":"join","z":"b1338775.c7d0a8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","timeout":"","count":"13","x":849.7381572723389,"y":563.1429853439331,"wires":[["3b324027.0dee5","a46b460f.0d4218"]]},{"id":"ac38ce24.2c667","type":"function","z":"b1338775.c7d0a8","name":"Time","func":"if(msg.parts.index === 1){\n    msg.time = msg.payload;\nreturn msg;}","outputs":1,"noerr":0,"x":554.5714664459229,"y":717.1429810523987,"wires":[["40447d50.a954e4"]]},{"id":"d49c1c20.b35e","type":"function","z":"b1338775.c7d0a8","name":"Speed","func":"if(msg.parts.index === 2){\n    msg.speed = msg.payload;\nreturn msg;}","outputs":1,"noerr":0,"x":546.571587562561,"y":653.1429300308228,"wires":[["c96247bf.604f78"]]},{"id":"be5e8153.bde95","type":"function","z":"b1338775.c7d0a8","name":"latitude","func":"if(msg.parts.index === 3){\n    msg.lat = msg.payload;\nreturn msg;}","outputs":1,"noerr":0,"x":556.571572303772,"y":533.1429328918457,"wires":[["9ca8b9ea.da68b8"]]},{"id":"786966f8.8cc3b8","type":"function","z":"b1338775.c7d0a8","name":"longitude","func":"if(msg.parts.index === 4){\n    msg.lon = msg.payload;\nreturn msg;}","outputs":1,"noerr":0,"x":552.5716247558594,"y":469.1430130004883,"wires":[["517076be.cbe1f8"]]},{"id":"cb3ab9e6.760888","type":"function","z":"b1338775.c7d0a8","name":"Altitude","func":"if(msg.parts.index === 5){\n    msg.alt = msg.payload;\nreturn msg;\n}","outputs":1,"noerr":0,"x":554.5716133117676,"y":593.1431846618652,"wires":[["4c470aed.a9e124"]]},{"id":"40447d50.a954e4","type":"delay","z":"b1338775.c7d0a8","name":"delay","pauseType":"delay","timeout":"5500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":678.5716190338135,"y":713.1431074142456,"wires":[["2acc6b07.296da4"]]},{"id":"c96247bf.604f78","type":"delay","z":"b1338775.c7d0a8","name":"delay","pauseType":"delay","timeout":"4500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":677.2382049560547,"y":650.4762697219849,"wires":[["2acc6b07.296da4"]]},{"id":"9ca8b9ea.da68b8","type":"delay","z":"b1338775.c7d0a8","name":"delay","pauseType":"delay","timeout":"2500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":689.2382040023804,"y":530.4762659072876,"wires":[["2acc6b07.296da4"]]},{"id":"4c470aed.a9e124","type":"delay","z":"b1338775.c7d0a8","name":"delay","pauseType":"delay","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":691.2382049560547,"y":592.4762735366821,"wires":[["2acc6b07.296da4"]]},{"id":"517076be.cbe1f8","type":"delay","z":"b1338775.c7d0a8","name":"delay","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":685.2382049560547,"y":470.47626972198486,"wires":[["2acc6b07.296da4"]]},{"id":"9119aef3.2ad3","type":"function","z":"b1338775.c7d0a8","name":"Insert","func":"msg.payload = 'INSERT INTO gps (packet, longitude, latitude, altitude, speed, time) VALUES (\" ';\nreturn msg;\n","outputs":1,"noerr":0,"x":555.2380847930908,"y":372.47620010375977,"wires":[["7eb2a381.b39abc"]]},{"id":"7eb2a381.b39abc","type":"delay","z":"b1338775.c7d0a8","name":"delay","pauseType":"delay","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":681.2380847930908,"y":372.47627544403076,"wires":[["2acc6b07.296da4"]]},{"id":"932406b4.eb35a8","type":"function","z":"b1338775.c7d0a8","name":"ID","func":"if(msg.parts.index === 0){\n    msg.id = msg.payload;\nreturn msg;}","outputs":1,"noerr":0,"x":553.2381076812744,"y":406.47623443603516,"wires":[["b12ea969.45eb38"]]},{"id":"b12ea969.45eb38","type":"delay","z":"b1338775.c7d0a8","name":"delay","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":677.2380847930908,"y":402.47619915008545,"wires":[["2acc6b07.296da4"]]},{"id":"31d50564.6c0c2a","type":"function","z":"b1338775.c7d0a8","name":"\",\"+","func":"msg.payload = '\",\"+';\nreturn msg;\n","outputs":1,"noerr":0,"x":548.5714893341064,"y":438.4762296676636,"wires":[["bce95f50.577af"]]},{"id":"bce95f50.577af","type":"delay","z":"b1338775.c7d0a8","name":"delay","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":678.571496963501,"y":438.4762363433838,"wires":[["2acc6b07.296da4"]]},{"id":"30b0d4bb.949edc","type":"function","z":"b1338775.c7d0a8","name":"+\",\"+","func":"msg.payload = '+\",\"+';\nreturn msg;\n","outputs":1,"noerr":0,"x":548.5714588165283,"y":500.47619915008545,"wires":[["1c99086a.8119d8"]]},{"id":"1c99086a.8119d8","type":"delay","z":"b1338775.c7d0a8","name":"delay","pauseType":"delay","timeout":"2000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":678.5714664459229,"y":500.47620582580566,"wires":[["2acc6b07.296da4"]]},{"id":"b94ad46d.a61d28","type":"function","z":"b1338775.c7d0a8","name":"+\",\"+","func":"msg.payload = '+\",\"+';\nreturn msg;\n","outputs":1,"noerr":0,"x":549.9047718048096,"y":562.4761991500854,"wires":[["383da4d6.64bb2c"]]},{"id":"383da4d6.64bb2c","type":"delay","z":"b1338775.c7d0a8","name":"delay","pauseType":"delay","timeout":"3000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":679.9047794342041,"y":562.4762058258057,"wires":[["2acc6b07.296da4"]]},{"id":"454c7795.3a90e8","type":"function","z":"b1338775.c7d0a8","name":"+\",\"+","func":"msg.payload = '+\",\"+';\nreturn msg;\n","outputs":1,"noerr":0,"x":551.9047718048096,"y":621.1428861618042,"wires":[["40cf4292.2b74fc"]]},{"id":"40cf4292.2b74fc","type":"delay","z":"b1338775.c7d0a8","name":"delay","pauseType":"delay","timeout":"4000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":681.9047794342041,"y":621.1428928375244,"wires":[["2acc6b07.296da4"]]},{"id":"2e60a01.e8a806","type":"function","z":"b1338775.c7d0a8","name":"+\",\"","func":"msg.payload = '+\",\"';\nreturn msg;\n","outputs":1,"noerr":0,"x":547.9047718048096,"y":683.1428861618042,"wires":[["761532a0.de76dc"]]},{"id":"761532a0.de76dc","type":"delay","z":"b1338775.c7d0a8","name":"delay","pauseType":"delay","timeout":"5000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":677.9047794342041,"y":683.1428928375244,"wires":[["2acc6b07.296da4"]]},{"id":"132f3936.14c047","type":"function","z":"b1338775.c7d0a8","name":"\")","func":"msg.payload = '\")';\nreturn msg;\n","outputs":1,"noerr":0,"x":549.9047718048096,"y":747.1428861618042,"wires":[["a0e429f9.c09b68"]]},{"id":"a0e429f9.c09b68","type":"delay","z":"b1338775.c7d0a8","name":"delay","pauseType":"delay","timeout":"6000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":679.9047794342041,"y":747.1428928375244,"wires":[["2acc6b07.296da4"]]},{"id":"3b324027.0dee5","type":"function","z":"b1338775.c7d0a8","name":"Function","func":"msg.topic = msg.payload;\n//\"INSERT INTO gps (id, longitude, latitude, altitude, speed, time) VALUES (\" + msg.payload.lon +\",\"+ msg.payload.lat +\", \"+ msg.payload.alt +\", \"+ msg.payload.speed +\", \"+ msg.time +\")\";\nreturn msg;\n","outputs":1,"noerr":0,"x":979.9047718048096,"y":558.4761991500854,"wires":[["34cdafc9.76b9a"]]},{"id":"a46b460f.0d4218","type":"debug","z":"b1338775.c7d0a8","name":"","active":true,"console":"false","complete":"false","x":1018.5183639526367,"y":520.7407150268555,"wires":[]}]