Node_Red_Pi0
[{"id":"39c79bbe.701f74","type":"tab","label":"GPS_LoRa_DB"},{"id":"8802b7b0.2ce208","type":"tab","label":"CPU Data"},{"id":"c5a18ba8.653e48","type":"tab","label":"LED+bouton"},{"id":"570e6711.1adfe8","type":"tab","label":"test image tele"},{"id":"9f61daf.1f2fb28","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"tm","tz":""},{"id":"98009433.f6ae08","type":"delay","z":"39c79bbe.701f74","name":"Limit rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":146.00005722045898,"y":292.0000982284546,"wires":[["6b4fa3de.105a3c","a597cfdd.f49cd"]]},{"id":"399189b8.10d3e6","type":"gpsd","z":"39c79bbe.701f74","name":"LoRa GPS","hostname":"localhost","port":"2947","tpv":true,"sky":false,"info":false,"device":false,"gst":false,"att":false,"x":98.83338737487793,"y":206.00009441375732,"wires":[[]]},{"id":"5315376b.75de78","type":"trigger","z":"39c79bbe.701f74","op1":"There's GPS Data at ","op2":"NoGPS!","op1type":"str","op2type":"str","duration":"2","extend":true,"units":"min","reset":"","name":"If No GPS","x":94.00021362304688,"y":118.00023078918457,"wires":[["bb67674b.faa778"]]},{"id":"9f5d2cf9.e0e75","type":"exec","z":"39c79bbe.701f74","command":"sudo /home/pi/SkyLoon/Main_Pi0/LORA_Sender/./chisterapi","addpay":true,"append":"","useSpawn":"","timer":"","name":"LoRa Send","x":702.0002021789551,"y":304.1666784286499,"wires":[["690cc9ab.e22da8","7d6bee46.538cb"],[],[]]},{"id":"cc21a6f3.d4e158","type":"split","z":"39c79bbe.701f74","name":"","splt":"\\n","x":284.00005531311035,"y":290.0000762939453,"wires":[["6f32054e.de33bc"]]},{"id":"6f32054e.de33bc","type":"switch","z":"39c79bbe.701f74","name":"GPS Data","property":"parts.index","propertyType":"msg","rules":[{"t":"btwn","v":"4","vt":"num","v2":"8","v2t":"num"}],"checkall":"true","outputs":1,"x":404.8334426879883,"y":291.66672134399414,"wires":[["59676a08.97b694"]]},{"id":"bb67674b.faa778","type":"debug","z":"39c79bbe.701f74","name":"","active":false,"console":"false","complete":"false","x":258.16668701171875,"y":93.00002098083496,"wires":[]},{"id":"690cc9ab.e22da8","type":"debug","z":"39c79bbe.701f74","name":"","active":true,"console":"false","complete":"false","x":897.3337516784668,"y":260.33345222473145,"wires":[]},{"id":"3b8e8bf4.543704","type":"switch","z":"39c79bbe.701f74","name":"If all GPS Data","property":"parts.index","propertyType":"msg","rules":[{"t":"cont","v":"13","vt":"num"},{"t":"btwn","v":"0","vt":"num","v2":"12","v2t":"num"}],"checkall":"true","outputs":2,"x":592.8335647583008,"y":429.00014877319336,"wires":[[],["131e5e7d.5d6912"]]},{"id":"131e5e7d.5d6912","type":"file","z":"39c79bbe.701f74","name":"Error.txt","filename":"/home/pi/Error.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":778.0001220703125,"y":456.00010871887207,"wires":[]},{"id":"4ddcbab1.dbbe44","type":"debug","z":"39c79bbe.701f74","name":"","active":false,"console":"false","complete":"false","x":902.6667327880859,"y":68.33334255218506,"wires":[]},{"id":"60d828a.67efbd8","type":"comment","z":"39c79bbe.701f74","name":"Send ! or not send","info":"https://www.w3schools.com/sql/sql_insert.asp","x":896.1666412353516,"y":348.33331298828125,"wires":[]},{"id":"d7fbfdc5.e42e8","type":"inject","z":"39c79bbe.701f74","name":"PowerOff","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93.99995040893555,"y":30,"wires":[["693830b7.80cb2"]]},{"id":"693830b7.80cb2","type":"exec","z":"39c79bbe.701f74","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":235.99999618530273,"y":32.49999809265137,"wires":[[],[],[]]},{"id":"be03eebb.bd3c5","type":"exec","z":"8802b7b0.2ce208","command":"date","addpay":false,"append":"","useSpawn":"","timer":"","name":"Time","x":236,"y":190.6667137145996,"wires":[["95343c0b.3f75e","406807da.8ea538"],[],[]]},{"id":"68319299.f5bd6c","type":"rpi-gpio in","z":"8802b7b0.2ce208","name":"","pin":"22","intype":"tri","debounce":"25","read":false,"x":89.99997997283936,"y":36,"wires":[["66f254e7.04423c"]]},{"id":"66f254e7.04423c","type":"debug","z":"8802b7b0.2ce208","name":"","active":false,"console":"false","complete":"payload","x":281.9999837875366,"y":37.000000953674316,"wires":[]},{"id":"b8c4267b.9967f8","type":"catch","z":"8802b7b0.2ce208","name":"Catch Error","scope":null,"x":97.99999904632568,"y":102.00002765655518,"wires":[["3a59dfd4.5458b"]]},{"id":"3a59dfd4.5458b","type":"file","z":"8802b7b0.2ce208","name":"Error File","filename":"/home/pi/Error.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":331.9999990463257,"y":104.66665744781494,"wires":[]},{"id":"c81e5483.9b1388","type":"inject","z":"8802b7b0.2ce208","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101.1666898727417,"y":193.00000953674316,"wires":[["be03eebb.bd3c5"]]},{"id":"95343c0b.3f75e","type":"exec","z":"8802b7b0.2ce208","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Temp","x":243.16679286956787,"y":246.5001735687256,"wires":[["73d10cb7.d5e664","406807da.8ea538"],[],[]]},{"id":"e080f450.2a4858","type":"file","z":"8802b7b0.2ce208","name":"","filename":"/home/pi/Bibi.txt","appendNewline":false,"createDir":false,"overwriteFile":"false","x":589.166995048523,"y":261.0001516342163,"wires":[]},{"id":"73d10cb7.d5e664","type":"exec","z":"8802b7b0.2ce208","command":"vcgencmd measure_volts","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Volt","x":242.00009441375732,"y":299.33342933654785,"wires":[["406807da.8ea538"],[],[]]},{"id":"5b23da9b.4bbee4","type":"debug","z":"8802b7b0.2ce208","name":"","active":true,"console":"false","complete":"payload","x":578.0004110336304,"y":218.00008869171143,"wires":[]},{"id":"406807da.8ea538","type":"join","z":"8802b7b0.2ce208","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"__","timeout":"","count":"3","x":419.16666316986084,"y":233.00002574920654,"wires":[["5b23da9b.4bbee4"]]},{"id":"7d6bee46.538cb","type":"file","z":"39c79bbe.701f74","name":"Log","filename":"/home/pi/SkyLoon/Main_Pi0/LORA_Sender/Log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":879.8333435058594,"y":303.6667251586914,"wires":[]},{"id":"4df33f8b.01e9e","type":"exec","z":"39c79bbe.701f74","command":"sudo /home/pi/SkyLoon/Main_Pi0/LORA_Sender/./chisterapi","addpay":true,"append":"","useSpawn":"","timer":"","name":"LoRa Send","x":260.00001525878906,"y":138.00000762939453,"wires":[["cbf390d7.f1605","df1078bc.268bf8"],[],[]]},{"id":"cbf390d7.f1605","type":"debug","z":"39c79bbe.701f74","name":"","active":true,"console":"false","complete":"false","x":435.3336410522461,"y":114.16677474975586,"wires":[]},{"id":"df1078bc.268bf8","type":"file","z":"39c79bbe.701f74","name":"Log","filename":"/home/pi/SkyLoon/Main_Pi0/LORA_Sender/Log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":421.833194732666,"y":153.50004959106445,"wires":[]},{"id":"88c8f6d3.9f46b8","type":"mysql","z":"39c79bbe.701f74","mydb":"9f61daf.1f2fb28","name":"","x":436.0003128051758,"y":204.00014305114746,"wires":[[]]},{"id":"a196f779.d547d8","type":"inject","z":"39c79bbe.701f74","name":"","topic":"","payload":"{\"class\":\"TPV\",\"tag\":\"RMC\",\"device\":\"/dev/ttyS0\",\"mode\":3,\"time\":\"2017-08-31T14:58:52.000Z\",\"ept\":0.005,\"lat\":46.5215,\"lon\":6.503255,\"alt\":102,\"epv\":23,\"track\":327.88,\"speed\":0.376,\"climb\":0.1,\"epc\":23}","payloadType":"json","repeat":"","crontab":"","once":false,"x":87.16672897338867,"y":361.00005531311035,"wires":[["6b4fa3de.105a3c","a597cfdd.f49cd"]]},{"id":"de024554.884818","type":"rpi-gpio out","z":"c5a18ba8.653e48","name":"","pin":"36","set":true,"level":"0","out":"out","x":285.16674423217773,"y":100.66667366027832,"wires":[]},{"id":"73c2d9ef.ccbe88","type":"rpi-gpio out","z":"c5a18ba8.653e48","name":"","pin":"38","set":true,"level":"0","out":"out","x":318.00009536743164,"y":176.0000514984131,"wires":[]},{"id":"1e19412b.bcb11f","type":"inject","z":"c5a18ba8.653e48","name":"Start","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":98.00000381469727,"y":164.0000114440918,"wires":[["73c2d9ef.ccbe88"]]},{"id":"6cd9ae13.574f1","type":"inject","z":"c5a18ba8.653e48","name":"Start","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":94.0000114440918,"y":114.0000057220459,"wires":[["de024554.884818"]]},{"id":"235b156c.d95b3a","type":"inject","z":"c5a18ba8.653e48","name":"Stop","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":96.00003051757812,"y":54.00004005432129,"wires":[["de024554.884818","73c2d9ef.ccbe88"]]},{"id":"7417738d.e327dc","type":"rpi-gpio in","z":"c5a18ba8.653e48","name":"","pin":"37","intype":"in","debounce":"25","read":false,"x":67.16670227050781,"y":268.6667232513428,"wires":[["25ec9582.5fa5ca","7b946b99.962df4"]]},{"id":"dc2d6926.9a2668","type":"debug","z":"c5a18ba8.653e48","name":"","active":false,"console":"false","complete":"false","x":421.16683197021484,"y":265.3333492279053,"wires":[]},{"id":"25ec9582.5fa5ca","type":"trigger","z":"c5a18ba8.653e48","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","name":"","x":207.16673278808594,"y":256.6667423248291,"wires":[["dc2d6926.9a2668","73c2d9ef.ccbe88"]]},{"id":"7b946b99.962df4","type":"trigger","z":"c5a18ba8.653e48","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"4","extend":false,"units":"s","reset":"","name":"","x":212.0000343322754,"y":304.00006198883057,"wires":[["de024554.884818"]]},{"id":"a8843490.e226b8","type":"exec","z":"c5a18ba8.653e48","command":"sudo raspistill -o /home/pi/photo/k.JPG -q 3 -h 50 -w 80","addpay":false,"append":"","useSpawn":"","timer":"","name":"raspistill","x":293.1667671203613,"y":450.166690826416,"wires":[["617d198d.a3ad68"],[],[]]},{"id":"4d80573f.669ee8","type":"inject","z":"c5a18ba8.653e48","name":"Take Picture","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123.16667938232422,"y":419.3333578109741,"wires":[["a8843490.e226b8"]]},{"id":"617d198d.a3ad68","type":"exec","z":"c5a18ba8.653e48","command":"sudo split /home/pi/photo/k.JPG -b 150 -d /home/pi/photo/p","addpay":false,"append":"","useSpawn":"","timer":"","name":"Split Picture","x":491.1667022705078,"y":403.50009632110596,"wires":[["273bfc90.7b2f04"],["273bfc90.7b2f04"],["273bfc90.7b2f04"]]},{"id":"fd35265f.8c7128","type":"exec","z":"c5a18ba8.653e48","command":"sudo raspistill -o /home/pi/photo/h.JPG -q 20 -h 480 -w 720","addpay":false,"append":"","useSpawn":"","timer":"","name":"raspistill","x":292.00003814697266,"y":398.0000534057617,"wires":[["617d198d.a3ad68"],[],[]]},{"id":"c7aca48a.c65988","type":"inject","z":"c5a18ba8.653e48","name":"Reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":89.16667175292969,"y":518.6666278839111,"wires":[["20598b9d.6c9c54"]]},{"id":"20598b9d.6c9c54","type":"exec","z":"c5a18ba8.653e48","command":"sudo rm -R /home/pi/photo","addpay":false,"append":"","useSpawn":"","timer":"","name":"Delete","x":227.1667022705078,"y":524.1666402816772,"wires":[["93680a91.4101b8"],[],[]]},{"id":"93680a91.4101b8","type":"exec","z":"c5a18ba8.653e48","command":"sudo mkdir /home/pi/photo","addpay":false,"append":"","useSpawn":"","timer":"","name":"Create","x":357.1667289733887,"y":528.1666393280029,"wires":[["273bfc90.7b2f04"],["273bfc90.7b2f04"],["273bfc90.7b2f04"]]},{"id":"273bfc90.7b2f04","type":"debug","z":"c5a18ba8.653e48","name":"","active":true,"console":"false","complete":"false","x":648.0000305175781,"y":545.333327293396,"wires":[]},{"id":"782e93e4.9773fc","type":"exec","z":"c5a18ba8.653e48","command":"sudo cat /home/pi/photo/p* > /home/pi/photo/i.JPG","addpay":false,"append":"","useSpawn":"","timer":"","name":"Rebuild Picture","x":275.1667251586914,"y":612.166669845581,"wires":[["273bfc90.7b2f04"],["273bfc90.7b2f04"],["273bfc90.7b2f04"]]},{"id":"fac19dc9.8ecea","type":"inject","z":"c5a18ba8.653e48","name":"Rebuild","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101.16668319702148,"y":614,"wires":[["782e93e4.9773fc"]]},{"id":"db3fb0.6148605","type":"exec","z":"c5a18ba8.653e48","command":"sudo ","addpay":true,"append":"","useSpawn":"","timer":"","name":"LoRa Send","x":650.000415802002,"y":764.6669101715088,"wires":[["26c842af.b4af9e"],[],[]]},{"id":"563f3763.658b18","type":"inject","z":"c5a18ba8.653e48","name":"Send the picture !","topic":"","payload":"h","payloadType":"str","repeat":"","crontab":"","once":false,"x":129.00006866455078,"y":789.8334245681763,"wires":[["fc809482.3ba518"]]},{"id":"26c842af.b4af9e","type":"debug","z":"c5a18ba8.653e48","name":"","active":true,"console":"false","complete":"false","x":711.1669158935547,"y":688.6669311523438,"wires":[]},{"id":"a1dd1d02.8dfcb","type":"function","z":"c5a18ba8.653e48","name":"Name algorithm","func":"if(msg.count < 10) {\n    msg.filename = \"/home/pi/photo/p0\" + msg.count;\n}\nif(msg.count > 9) {\n    msg.filename = \"/home/pi/photo/p\" + msg.count;\n}\nif(msg.count > 89) {\n    msg.count = msg.count + 8910;\n    msg.filename = \"/home/pi/photo/p\" + msg.count;\n}\nreturn msg;","outputs":1,"noerr":0,"x":399.1667900085449,"y":844.0003356933594,"wires":[["cdf950d5.69c6d"]]},{"id":"fc809482.3ba518","type":"counter","z":"c5a18ba8.653e48","name":"Counter","init":"-1","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":189.16678619384766,"y":856.0004425048828,"wires":[["6fdd3441.7b0b3c","a1dd1d02.8dfcb"]]},{"id":"bcb8be48.0532b","type":"delay","z":"c5a18ba8.653e48","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":189.1668701171875,"y":923.3338813781738,"wires":[["fc809482.3ba518"]]},{"id":"6fdd3441.7b0b3c","type":"function","z":"c5a18ba8.653e48","name":"security","func":"if(msg.count > 210){\n    return;\n}\nreturn msg;","outputs":1,"noerr":0,"x":185.16678619384766,"y":890.0002822875977,"wires":[["bcb8be48.0532b"]]},{"id":"dd3266a0.f220d8","type":"inject","z":"c5a18ba8.653e48","name":"Read","topic":"","payload":"2342","payloadType":"str","repeat":"","crontab":"","once":false,"x":161.16673278808594,"y":706.6667079925537,"wires":[["e68a03d4.ef8ff"]]},{"id":"9db0d844.e13128","type":"file","z":"c5a18ba8.653e48","name":"JPG","filename":"/home/pi/photo/image.JPG","appendNewline":true,"createDir":false,"overwriteFile":"false","x":779.166675567627,"y":854.00035572052,"wires":[]},{"id":"f4b96821.6053a8","type":"inject","z":"c5a18ba8.653e48","name":"Reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101.3333511352539,"y":1006,"wires":[["89a95c4c.1b4f2"]]},{"id":"89a95c4c.1b4f2","type":"exec","z":"c5a18ba8.653e48","command":"sudo truncate /home/pi/photo/image.JPG -s 0","addpay":false,"append":"","useSpawn":"","timer":"","name":"truncate","x":233.33341217041016,"y":998.1667709350586,"wires":[["7a91f110.f2218"],["7a91f110.f2218"],["7a91f110.f2218"]]},{"id":"7a91f110.f2218","type":"debug","z":"c5a18ba8.653e48","name":"","active":true,"console":"false","complete":"false","x":455.3333854675293,"y":1000.666729927063,"wires":[]},{"id":"e68a03d4.ef8ff","type":"file in","z":"c5a18ba8.653e48","name":"p*","filename":"/home/pi/photo/test.txt","format":"","x":317.1667060852051,"y":718.000205039978,"wires":[["db3fb0.6148605"]]},{"id":"3103f9a.edddd06","type":"debug","z":"c5a18ba8.653e48","name":"","active":false,"console":"false","complete":"payload","x":819.8336715698242,"y":1022.6668691635132,"wires":[]},{"id":"cdf950d5.69c6d","type":"file in","z":"c5a18ba8.653e48","name":"Read part picture","filename":"","format":"","x":510.6666946411133,"y":894.6668014526367,"wires":[["9db0d844.e13128"]]},{"id":"d310b112.847df","type":"inject","z":"c5a18ba8.653e48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":357.16668701171875,"y":343.3333435058594,"wires":[["617d198d.a3ad68"]]},{"id":"4dda6940.5d50d8","type":"inject","z":"c5a18ba8.653e48","name":"Read","topic":"","payload":"\"`cat /home/pi/photo/p24`\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":376,"y":658,"wires":[["db3fb0.6148605"]]},{"id":"a5f7aeee.0d93f","type":"inject","z":"570e6711.1adfe8","name":"Send the picture !","topic":"","payload":"h","payloadType":"str","repeat":"","crontab":"","once":false,"x":124.01156616210938,"y":77.02777099609375,"wires":[["d4b3a6d3.e8b278"]]},{"id":"e0b602e2.f6a7","type":"function","z":"570e6711.1adfe8","name":"Name algorithm","func":"if(msg.count < 10) {\n    var a = { payload: '\"`cat /home/pi/photo/p0'};\n    var b = { payload: '`\"'};\n    msg.payload = a + msg.count + b;\n}\nif(msg.count > 9) {\n    msg.payload = \"/home/pi/photo/p\" + msg.count;\n}\nif(msg.count > 89) {\n    msg.count = msg.count + 8910;\n    msg.payload = \"/home/pi/photo/p\" + msg.count;\n}\nreturn msg;","outputs":1,"noerr":0,"x":370.1782703399658,"y":147.19468784332275,"wires":[["6d7d2e69.9af31"]]},{"id":"d4b3a6d3.e8b278","type":"counter","z":"570e6711.1adfe8","name":"Counter","init":"-1","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":184.17828369140625,"y":143.1947889328003,"wires":[["e0b602e2.f6a7","62f9c452.06c68c"]]},{"id":"62ae06df.be1e88","type":"delay","z":"570e6711.1adfe8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":184.1783676147461,"y":210.5282278060913,"wires":[["d4b3a6d3.e8b278"]]},{"id":"62f9c452.06c68c","type":"function","z":"570e6711.1adfe8","name":"security","func":"if(msg.count > 9){\n    return;\n}\nreturn msg;","outputs":1,"noerr":0,"x":180.17828369140625,"y":177.19462871551514,"wires":[["62ae06df.be1e88"]]},{"id":"d3e4c45c.6d2e18","type":"file","z":"570e6711.1adfe8","name":"JPG","filename":"/home/pi/photo/image.JPG","appendNewline":true,"createDir":false,"overwriteFile":"false","x":732.1781826019287,"y":99.1946382522583,"wires":[]},{"id":"6d7d2e69.9af31","type":"exec","z":"570e6711.1adfe8","command":"sudo /home/pi/SkyLoon/Main_Pi0/LORA_Sender/./chisterapi ","addpay":true,"append":"","useSpawn":"","timer":"","name":"LoRa Send","x":556.0000152587891,"y":202.0000343322754,"wires":[["9715e5b7.9a6bc8"],[],[]]},{"id":"9715e5b7.9a6bc8","type":"debug","z":"570e6711.1adfe8","name":"","active":true,"console":"false","complete":"false","x":663.1665115356445,"y":274.00008392333984,"wires":[]},{"id":"7e8883b4.2a602c","type":"function","z":"c5a18ba8.653e48","name":"Name algorithm","func":"if(msg.count < 10) {\n    msg.payload = '\"`cat /home/pi/photo/p0' + msg.count + '`\"';\n}\nif(msg.count > 9) {\n    msg.payload = '\"`cat /home/pi/photo/p' + msg.count + '`\"';\n}\nif(msg.count > 89) {\n    msg.count = msg.count + 8910;\n    msg.payload = '\"`cat /home/pi/photo/p' + msg.count + '`\"';\n}\nreturn msg;","outputs":1,"noerr":0,"x":392.0000419616699,"y":934.0000972747803,"wires":[["db3fb0.6148605"]]},{"id":"79ff31e.8358dd","type":"function","z":"c5a18ba8.653e48","name":"","func":"var a = \"'\";\nvar b = \"'\";\nmsg.payload = a + msg.payload + b;\nreturn msg;","outputs":1,"noerr":0,"x":597.3333511352539,"y":831.3333654403687,"wires":[["3103f9a.edddd06"]]},{"id":"c8ba1a90.300d98","type":"function","z":"570e6711.1adfe8","name":"","func":"msg.payload = msg.payload.toString('hex');\n//msg.payload = msg.payload.data.toString();\n//msg.payload = msg.payload.data.toString();\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":312,"wires":[[]]},{"id":"fd8454c.58a19a8","type":"function","z":"c5a18ba8.653e48","name":"","func":"//var buf = { payload : msg.payload};\nmsg.payload = msg.payload.toString('hex');\n//msg.payload = \"/home/pi/SkyLoon/Main_Pi0/LORA_Sender/./chisterapi\" + msg.payload ;\nreturn msg;","outputs":1,"noerr":0,"x":733.3333587646484,"y":949.3333892822266,"wires":[["9db0d844.e13128"]]},{"id":"569eb1b5.2e492","type":"inject","z":"c5a18ba8.653e48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":637.8334121704102,"y":1055.3333950042725,"wires":[[]]},{"id":"5c591735.312198","type":"debug","z":"c5a18ba8.653e48","name":"","active":true,"console":"false","complete":"false","x":446.0000686645508,"y":786.0001068115234,"wires":[]},{"id":"98db238f.36fd5","type":"function","z":"c5a18ba8.653e48","name":"","func":"var buf = { payload : msg.payload};\n//msg.payload = msg.payload.toString('hex');\nmsg.payload = \"/home/pi/SkyLoon/Main_Pi0/LORA_Sender/./chisterapi \" + buf ;\nreturn msg;","outputs":1,"noerr":0,"x":308.6666793823242,"y":762.666669845581,"wires":[["5c591735.312198","db3fb0.6148605"]]},{"id":"71438c32.785c54","type":"function","z":"39c79bbe.701f74","name":"Function","func":"msg.time = \"'\" + msg.payload.time + \"'\";\nmsg.topic = \"INSERT INTO gps (longitude, latitude, altitude, speed, time) VALUES (\" + msg.payload.lon +\",\"+ msg.payload.lat +\", \"+ msg.payload.alt +\", \"+ msg.payload.speed +\", \"+ msg.time +\")\";\nreturn msg;\n","outputs":1,"noerr":0,"x":268.0002613067627,"y":206.00014305114746,"wires":[["88c8f6d3.9f46b8"]]},{"id":"6b4fa3de.105a3c","type":"delay","z":"39c79bbe.701f74","name":"delay","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":229.16661834716797,"y":248.33307266235352,"wires":[["cc21a6f3.d4e158"]]},{"id":"59676a08.97b694","type":"join","z":"39c79bbe.701f74","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"_","timeout":"5","count":"6","x":542.000072479248,"y":338.6667079925537,"wires":[["9f5d2cf9.e0e75"]]},{"id":"a597cfdd.f49cd","type":"counter","z":"39c79bbe.701f74","name":"Counter","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":233.99990844726562,"y":344.6664333343506,"wires":[["498f124.59657ec"]]},{"id":"498f124.59657ec","type":"function","z":"39c79bbe.701f74","name":"function","func":"//msg.parts = 1;\nmsg.payload = msg.count;\nreturn msg;","outputs":1,"noerr":0,"x":383.99996185302734,"y":346.6664342880249,"wires":[["59676a08.97b694"]]}]