NodeRed_Sender
[{"id":"39c79bbe.701f74","type":"tab","label":"GPS_LoRa_DB"},{"id":"8802b7b0.2ce208","type":"tab","label":"CPU Data"},{"id":"98009433.f6ae08","type":"delay","z":"39c79bbe.701f74","name":"Limit rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":252.00001525878906,"y":194.00010204315186,"wires":[["cc21a6f3.d4e158"]]},{"id":"399189b8.10d3e6","type":"gpsd","z":"39c79bbe.701f74","name":"LoRa GPS","hostname":"localhost","port":"2947","tpv":true,"sky":false,"info":false,"device":false,"gst":false,"att":false,"x":76.83329010009766,"y":216.00004196166992,"wires":[["98009433.f6ae08","5315376b.75de78"]]},{"id":"5315376b.75de78","type":"trigger","z":"39c79bbe.701f74","op1":"There's GPS Data at ","op2":"No GPS !","op1type":"str","op2type":"str","duration":"1","extend":true,"units":"min","reset":"","name":"If No GPS","x":154.0001983642578,"y":102.00023078918457,"wires":[["bb67674b.faa778"]]},{"id":"9f5d2cf9.e0e75","type":"exec","z":"39c79bbe.701f74","command":"sudo /home/pi/SkyLoon/Main_Pi0/LORA_Sender/./chisterapi","addpay":true,"append":"","useSpawn":"","timer":"","name":"LoRa Send","x":702.0002021789551,"y":304.1666784286499,"wires":[["690cc9ab.e22da8","7d6bee46.538cb"],[],[]]},{"id":"cc21a6f3.d4e158","type":"split","z":"39c79bbe.701f74","name":"","splt":"\\n","x":260,"y":274.0000743865967,"wires":[["6f32054e.de33bc"]]},{"id":"4c9879b8.dfc008","type":"join","z":"39c79bbe.701f74","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"_","timeout":"5","count":"5","x":542.8334465026855,"y":335.00034523010254,"wires":[["9f5d2cf9.e0e75"]]},{"id":"6f32054e.de33bc","type":"switch","z":"39c79bbe.701f74","name":"GPS Data","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"btwn","v":"4","vt":"num","v2":"8","v2t":"num"}],"checkall":"true","outputs":6,"x":432.8334426879883,"y":243.6667022705078,"wires":[["ad4d7fb7.8d837"],["bfc88cfd.8aa47"],["f5648c45.2f84d"],["2c8488d7.4717e8"],["19fae734.355209"],["4c9879b8.dfc008"]]},{"id":"7e2abc6d.c19194","type":"inject","z":"39c79bbe.701f74","name":"","topic":"","payload":"{\"class\":\"TPV\",\"tag\":\"RMC\",\"device\":\"/dev/ttyS0\",\"mode\":3,\"time\":\"2017-08-31T14:58:52.000Z\",\"ept\":0.005,\"lat\":46.5215,\"lon\":6.503255,\"alt\":102,\"epv\":23,\"track\":327.88,\"speed\":0.376,\"climb\":0.1,\"epc\":23}","payloadType":"json","repeat":"20","crontab":"","once":true,"x":92.1666259765625,"y":299.00005531311035,"wires":[[]]},{"id":"bb67674b.faa778","type":"debug","z":"39c79bbe.701f74","name":"","active":false,"console":"false","complete":"false","x":354.1666717529297,"y":81.00001525878906,"wires":[]},{"id":"bfc88cfd.8aa47","type":"function","z":"39c79bbe.701f74","name":"Speed","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":658.833854675293,"y":93.00005054473877,"wires":[["4ddcbab1.dbbe44"]]},{"id":"438e007e.72554","type":"comment","z":"39c79bbe.701f74","name":"Base de donnée","info":"https://www.w3schools.com/sql/sql_insert.asp","x":902.0002212524414,"y":122.00009536743164,"wires":[]},{"id":"19fae734.355209","type":"function","z":"39c79bbe.701f74","name":"Altitude","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":664.8336067199707,"y":200.33334159851074,"wires":[["4ddcbab1.dbbe44"]]},{"id":"f5648c45.2f84d","type":"function","z":"39c79bbe.701f74","name":"Latitude","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":660.833854675293,"y":130.33334636688232,"wires":[["4ddcbab1.dbbe44"]]},{"id":"ad4d7fb7.8d837","type":"function","z":"39c79bbe.701f74","name":"Time","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":660.8336906433105,"y":56.33334159851074,"wires":[["4ddcbab1.dbbe44"]]},{"id":"2c8488d7.4717e8","type":"function","z":"39c79bbe.701f74","name":"Longitude","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":662.8336906433105,"y":164.33334922790527,"wires":[["4ddcbab1.dbbe44"]]},{"id":"690cc9ab.e22da8","type":"debug","z":"39c79bbe.701f74","name":"","active":true,"console":"false","complete":"false","x":897.3337516784668,"y":260.33345222473145,"wires":[]},{"id":"3b8e8bf4.543704","type":"switch","z":"39c79bbe.701f74","name":"If all GPS Data","property":"parts.index","propertyType":"msg","rules":[{"t":"cont","v":"13","vt":"num"},{"t":"btwn","v":"0","vt":"num","v2":"12","v2t":"num"}],"checkall":"true","outputs":2,"x":258.8334274291992,"y":361.0001049041748,"wires":[[],["131e5e7d.5d6912"]]},{"id":"131e5e7d.5d6912","type":"file","z":"39c79bbe.701f74","name":"Error.txt","filename":"/home/pi/Error.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":443.99998474121094,"y":388.0000648498535,"wires":[]},{"id":"4ddcbab1.dbbe44","type":"debug","z":"39c79bbe.701f74","name":"","active":false,"console":"false","complete":"false","x":902.6667327880859,"y":68.33334255218506,"wires":[]},{"id":"60d828a.67efbd8","type":"comment","z":"39c79bbe.701f74","name":"Send ! or not send","info":"https://www.w3schools.com/sql/sql_insert.asp","x":896.1666412353516,"y":348.33331298828125,"wires":[]},{"id":"d7fbfdc5.e42e8","type":"inject","z":"39c79bbe.701f74","name":"PowerOff","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93.99995040893555,"y":30,"wires":[["693830b7.80cb2"]]},{"id":"693830b7.80cb2","type":"exec","z":"39c79bbe.701f74","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":235.99999618530273,"y":32.49999809265137,"wires":[[],[],[]]},{"id":"be03eebb.bd3c5","type":"exec","z":"8802b7b0.2ce208","command":"date","addpay":false,"append":"","useSpawn":"","timer":"","name":"Time","x":236,"y":190.6667137145996,"wires":[["95343c0b.3f75e","406807da.8ea538"],[],[]]},{"id":"68319299.f5bd6c","type":"rpi-gpio in","z":"8802b7b0.2ce208","name":"","pin":"22","intype":"tri","debounce":"25","read":false,"x":89.99997997283936,"y":36,"wires":[["66f254e7.04423c"]]},{"id":"66f254e7.04423c","type":"debug","z":"8802b7b0.2ce208","name":"","active":false,"console":"false","complete":"payload","x":281.9999837875366,"y":37.000000953674316,"wires":[]},{"id":"b8c4267b.9967f8","type":"catch","z":"8802b7b0.2ce208","name":"Catch Error","scope":null,"x":97.99999904632568,"y":102.00002765655518,"wires":[["3a59dfd4.5458b"]]},{"id":"3a59dfd4.5458b","type":"file","z":"8802b7b0.2ce208","name":"Error File","filename":"/home/pi/Error.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":331.9999990463257,"y":104.66665744781494,"wires":[]},{"id":"c81e5483.9b1388","type":"inject","z":"8802b7b0.2ce208","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101.1666898727417,"y":193.00000953674316,"wires":[["be03eebb.bd3c5"]]},{"id":"95343c0b.3f75e","type":"exec","z":"8802b7b0.2ce208","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Temp","x":243.16679286956787,"y":246.5001735687256,"wires":[["73d10cb7.d5e664","406807da.8ea538"],[],[]]},{"id":"e080f450.2a4858","type":"file","z":"8802b7b0.2ce208","name":"","filename":"/home/pi/Bibi.txt","appendNewline":false,"createDir":false,"overwriteFile":"false","x":589.166995048523,"y":261.0001516342163,"wires":[]},{"id":"73d10cb7.d5e664","type":"exec","z":"8802b7b0.2ce208","command":"vcgencmd measure_volts","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Volt","x":242.00009441375732,"y":299.33342933654785,"wires":[["406807da.8ea538"],[],[]]},{"id":"5b23da9b.4bbee4","type":"debug","z":"8802b7b0.2ce208","name":"","active":true,"console":"false","complete":"payload","x":578.0004110336304,"y":218.00008869171143,"wires":[]},{"id":"406807da.8ea538","type":"join","z":"8802b7b0.2ce208","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"__","timeout":"","count":"3","x":419.16666316986084,"y":233.00002574920654,"wires":[["5b23da9b.4bbee4"]]},{"id":"8592e6ed.0400d8","type":"status","z":"39c79bbe.701f74","name":"GPS fix Statut","scope":["399189b8.10d3e6"],"x":91.16667938232422,"y":435.0000247955322,"wires":[["cd3d1ecb.9929c"]]},{"id":"cd3d1ecb.9929c","type":"debug","z":"39c79bbe.701f74","name":"","active":true,"console":"false","complete":"false","x":257.16668701171875,"y":439.3333435058594,"wires":[]},{"id":"7d6bee46.538cb","type":"file","z":"39c79bbe.701f74","name":"Log","filename":"/home/pi/SkyLoon/Main_Pi0/LORA_Sender/Log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":879.8333435058594,"y":303.6667251586914,"wires":[]}]