Node_Red/Node_Red_2
[{"id":"b277b31.19bd95","type":"tab","label":"GPS "},{"id":"b1338775.c7d0a8","type":"tab","label":"LoRa Receiver"},{"id":"2a1f348a.53e8ac","type":"tab","label":"GPS LoRa Receiver"},{"id":"5712332c.29d35c","type":"tab","label":"CPU Data"},{"id":"bd30920.b702a7","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"Mission3","tz":""},{"id":"20b59a5.fd3e966","type":"file","z":"b277b31.19bd95","name":"bibi.txt","filename":"/home/pi/bibi.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":590.1669235229492,"y":104.00011825561523,"wires":[]},{"id":"61e3f1b9.e921","type":"gpsd","z":"b277b31.19bd95","name":"LoRa GPS","hostname":"localhost","port":"2947","tpv":true,"sky":false,"info":false,"device":false,"gst":false,"att":false,"x":76.00001525878906,"y":211.00004386901855,"wires":[["ff5be8c5.eeb1b8","7f1afbff.17b304"]]},{"id":"7f1afbff.17b304","type":"trigger","z":"b277b31.19bd95","op1":"There's GPS Data at ","op2":"No GPS !","op1type":"str","op2type":"str","duration":"1","extend":true,"units":"min","reset":"","name":"If No GPS","x":153.16692352294922,"y":97.0002326965332,"wires":[["1f2db671.6fab6a"]]},{"id":"ff5be8c5.eeb1b8","type":"delay","z":"b277b31.19bd95","name":"Limit rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":257.1667251586914,"y":177.00009155273438,"wires":[[]]},{"id":"5d0ea041.1d8c4","type":"rpi-gpio in","z":"5712332c.29d35c","name":"","pin":"22","intype":"tri","debounce":"25","read":false,"x":112.0000114440918,"y":46.000006675720215,"wires":[["f1d77ae3.eb62d8"]]},{"id":"f1d77ae3.eb62d8","type":"debug","z":"5712332c.29d35c","name":"","active":false,"console":"false","complete":"payload","x":304.00001525878906,"y":47.00000762939453,"wires":[]},{"id":"7d1a3b67.b19f94","type":"catch","z":"5712332c.29d35c","name":"Catch Error","scope":null,"x":120.00003051757812,"y":112.00003433227539,"wires":[["c79452b7.8a3dc"]]},{"id":"c79452b7.8a3dc","type":"file","z":"5712332c.29d35c","name":"Error File","filename":"/home/pi/Error.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":354.0000305175781,"y":114.66666412353516,"wires":[]},{"id":"c3310b70.7287b8","type":"exec","z":"b277b31.19bd95","command":"sudo /root/SkyLoon/Main_Pi0/LORA_Sender/./chisterapi","addpay":true,"append":"","useSpawn":"","timer":"","name":"LoRa Send","x":711.1669082641602,"y":369.1666965484619,"wires":[["873925fa.381ff8"],[],[]]},{"id":"b928b1d4.82841","type":"function","z":"b277b31.19bd95","name":"Format GPS Data","func":"longitude = GPSLine[0];\nlatitude = GPSLine[1];\nmsg.topic = \"INSERT INTO mmmmm (latitude, longitude) VALUES(\"+latitude+\",\"+longitude+\");\"\nreturn msg;","outputs":1,"noerr":0,"x":599.8334159851074,"y":50.333367347717285,"wires":[[]]},{"id":"127152a5.3c2d4d","type":"inject","z":"5712332c.29d35c","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123.16672134399414,"y":203.00001621246338,"wires":[["d1bb3f85.d775f"]]},{"id":"24c71d5b.00b722","type":"exec","z":"5712332c.29d35c","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Temp","x":265.1668243408203,"y":256.5001802444458,"wires":[["470f5f47.0e817","96eab6cb.8848a8"],[],[]]},{"id":"6ca26ecc.a1616","type":"file","z":"5712332c.29d35c","name":"","filename":"/home/pi/Bibi.txt","appendNewline":false,"createDir":false,"overwriteFile":"false","x":611.1670265197754,"y":271.0001583099365,"wires":[]},{"id":"470f5f47.0e817","type":"exec","z":"5712332c.29d35c","command":"vcgencmd measure_volts","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Volt","x":264.00012588500977,"y":309.33343601226807,"wires":[["96eab6cb.8848a8"],[],[]]},{"id":"d1bb3f85.d775f","type":"exec","z":"5712332c.29d35c","command":"date","addpay":false,"append":"","useSpawn":"","timer":"","name":"Time","x":258.00003147125244,"y":200.66672039031982,"wires":[["24c71d5b.00b722","96eab6cb.8848a8"],[],[]]},{"id":"d3278200.4b0bf","type":"split","z":"b277b31.19bd95","name":"","splt":"\\n","x":353.16672134399414,"y":235.00005626678467,"wires":[["ff3f1cf4.3f33b"]]},{"id":"5ebaab08.52f3d4","type":"join","z":"b277b31.19bd95","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"_","timeout":"5","count":"5","x":552.0001525878906,"y":348.0003261566162,"wires":[["c3310b70.7287b8"]]},{"id":"ff3f1cf4.3f33b","type":"switch","z":"b277b31.19bd95","name":"GPS Data","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"btwn","v":"4","vt":"num","v2":"8","v2t":"num"}],"checkall":"true","outputs":6,"x":524.000114440918,"y":232.66667938232422,"wires":[["5faa9a4e.ac99c4"],["bdc45261.a8d5d"],["9893245.22d55d8"],["a44c50d8.ad9c1"],["73e1a1d0.84e1"],["5ebaab08.52f3d4"]]},{"id":"fa8d29da.6da818","type":"inject","z":"b277b31.19bd95","name":"","topic":"","payload":"{\"class\":\"TPV\",\"tag\":\"RMC\",\"device\":\"/dev/ttyS0\",\"mode\":3,\"time\":\"2017-08-31T14:58:52.000Z\",\"ept\":0.005,\"lat\":46.5215,\"lon\":6.503255,\"alt\":102,\"epv\":23,\"track\":327.88,\"speed\":0.376,\"climb\":0.1,\"epc\":23}","payloadType":"json","repeat":"","crontab":"","once":false,"x":91.3333511352539,"y":294.000057220459,"wires":[["d3278200.4b0bf"]]},{"id":"1f2db671.6fab6a","type":"debug","z":"b277b31.19bd95","name":"","active":false,"console":"false","complete":"false","x":353.3333969116211,"y":76.0000171661377,"wires":[]},{"id":"b4b71c19.b6714","type":"debug","z":"5712332c.29d35c","name":"","active":true,"console":"false","complete":"payload","x":600.0004425048828,"y":228.00009536743164,"wires":[]},{"id":"bdc45261.a8d5d","type":"function","z":"b277b31.19bd95","name":"Speed","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":714.0004959106445,"y":192.00005054473877,"wires":[["e5eefd54.2f307"]]},{"id":"4a4ed7bf.21b098","type":"comment","z":"b277b31.19bd95","name":"Base de donnée","info":"https://www.w3schools.com/sql/sql_insert.asp","x":957.166862487793,"y":221.00009536743164,"wires":[]},{"id":"73e1a1d0.84e1","type":"function","z":"b277b31.19bd95","name":"Altitude","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":720.0002479553223,"y":299.33334159851074,"wires":[["e5eefd54.2f307"]]},{"id":"9893245.22d55d8","type":"function","z":"b277b31.19bd95","name":"Latitude","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":716.0004959106445,"y":229.33334636688232,"wires":[["e5eefd54.2f307"]]},{"id":"5faa9a4e.ac99c4","type":"function","z":"b277b31.19bd95","name":"Time","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":716.0003318786621,"y":155.33334159851074,"wires":[["e5eefd54.2f307"]]},{"id":"a44c50d8.ad9c1","type":"function","z":"b277b31.19bd95","name":"Longitude","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":718.0003318786621,"y":263.3333492279053,"wires":[["e5eefd54.2f307"]]},{"id":"873925fa.381ff8","type":"debug","z":"b277b31.19bd95","name":"","active":true,"console":"false","complete":"false","x":960.5002021789551,"y":267.33343505859375,"wires":[]},{"id":"88febe8e.14d82","type":"switch","z":"b277b31.19bd95","name":"If all GPS Data","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"13","vt":"num"},{"t":"lt","v":"13","vt":"num"}],"checkall":"true","outputs":2,"x":342.0000801086426,"y":330.00010204315186,"wires":[[],["c6223f83.3da3c"]]},{"id":"c6223f83.3da3c","type":"file","z":"b277b31.19bd95","name":"Error.txt","filename":"/home/pi/Error.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":529.1666870117188,"y":427.00000762939453,"wires":[]},{"id":"2de4c12.363763e","type":"inject","z":"b1338775.c7d0a8","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96.16670227050781,"y":115.00003147125244,"wires":[["e27e86d7.0e3088"]]},{"id":"e27e86d7.0e3088","type":"exec","z":"b1338775.c7d0a8","command":"/home/pi/lora_receiver/./lora_receiever","addpay":false,"append":"","useSpawn":"","timer":"","name":"Exec LoRa Receiver","x":278.16674041748047,"y":114.50004959106445,"wires":[[],[],[]]},{"id":"d80efa0b.267788","type":"split","z":"b1338775.c7d0a8","name":"","splt":"_","x":222.16671752929688,"y":185.66673469543457,"wires":[["b3bc91d1.225bf"]]},{"id":"780ce6b5.9f1788","type":"inject","z":"b1338775.c7d0a8","name":"","topic":"","payload":">>Node: 8, Type: 0, Length: 51, Content: 2017-08-31T14:58:52.000Z_0.005_46.5215_6.503255_102","payloadType":"str","repeat":"","crontab":"","once":false,"x":94.3333625793457,"y":185.00000858306885,"wires":[["d80efa0b.267788"]]},{"id":"244380e0.164c9","type":"split","z":"b277b31.19bd95","name":"","splt":"_","x":901.333366394043,"y":400.6666793823242,"wires":[[]]},{"id":"51ceb42e.8eb41c","type":"join","z":"b1338775.c7d0a8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","timeout":"","count":"2","x":512.1667003631592,"y":180.33343982696533,"wires":[["4a472fb1.49959"]]},{"id":"b3bc91d1.225bf","type":"switch","z":"b1338775.c7d0a8","name":"GPS Data","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","outputs":3,"x":367.66670989990234,"y":186.0001277923584,"wires":[["51ceb42e.8eb41c"],["4a472fb1.49959"],["51ceb42e.8eb41c"]]},{"id":"4a472fb1.49959","type":"join","z":"b1338775.c7d0a8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","timeout":"","count":"2","x":535.0001983642578,"y":208.0001277923584,"wires":[["7e58a1d3.15134","cc8c7a33.b01b48"]]},{"id":"7e58a1d3.15134","type":"file","z":"b1338775.c7d0a8","name":"KML File","filename":"/home/pi/lora_receiver/KML/Balloon.kml","appendNewline":true,"createDir":false,"overwriteFile":"false","x":671.6667098999023,"y":177.00009536743164,"wires":[]},{"id":"96eab6cb.8848a8","type":"join","z":"5712332c.29d35c","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"__","timeout":"","count":"3","x":441.1666946411133,"y":243.00003242492676,"wires":[["b4b71c19.b6714"]]},{"id":"cc8c7a33.b01b48","type":"delay","z":"b1338775.c7d0a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":527.5001983642578,"y":263.6667232513428,"wires":[["6523cdc7.24f2c4"]]},{"id":"e5eefd54.2f307","type":"debug","z":"b277b31.19bd95","name":"","active":false,"console":"false","complete":"false","x":957.8333740234375,"y":167.33334255218506,"wires":[]},{"id":"efec258e.6f1e28","type":"comment","z":"b277b31.19bd95","name":"Send ! or not send","info":"https://www.w3schools.com/sql/sql_insert.asp","x":937.3333129882812,"y":343.33331298828125,"wires":[]},{"id":"6523cdc7.24f2c4","type":"exec","z":"b1338775.c7d0a8","command":"sudo bash /home/pi/lora_receiver/KML/KML.sh","addpay":false,"append":"","useSpawn":"","timer":"","name":"KML.sh","x":686.3333778381348,"y":264.0000591278076,"wires":[["81525677.f439a8"],["81525677.f439a8"],["81525677.f439a8"]]},{"id":"a43446c5.eb8d48","type":"exec","z":"b1338775.c7d0a8","command":"sudo cp /home/pi/lora_receiver/KML/Modele_Balloon.kml /home/pi/lora_receiver/KML/Balloon.kml","addpay":false,"append":"","useSpawn":"","timer":"","name":"Remise à zéro des fichier.kml","x":295.00006103515625,"y":40.666690826416016,"wires":[["c2fb394b.44dc18"],["c2fb394b.44dc18"],["c2fb394b.44dc18"]]},{"id":"c024d8ac.fca5e8","type":"inject","z":"b1338775.c7d0a8","name":"","topic":"","payload":"RàZ","payloadType":"str","repeat":"","crontab":"","once":false,"x":93.00004196166992,"y":40.66669464111328,"wires":[["a43446c5.eb8d48"]]},{"id":"c2fb394b.44dc18","type":"debug","z":"b1338775.c7d0a8","name":"","active":false,"console":"false","complete":"false","x":528.1667327880859,"y":40.00006580352783,"wires":[]},{"id":"81525677.f439a8","type":"debug","z":"b1338775.c7d0a8","name":"","active":false,"console":"false","complete":"false","x":860.1668548583984,"y":260.0002040863037,"wires":[]},{"id":"3d6a8085.d1311","type":"inject","z":"b277b31.19bd95","name":"PowerOff","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93.16667556762695,"y":25.000001907348633,"wires":[["d8104fe5.79cac"]]},{"id":"d8104fe5.79cac","type":"exec","z":"b277b31.19bd95","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":235.16672134399414,"y":27.5,"wires":[[],[],[]]},{"id":"38baba7e.2cbc76","type":"gpsd","z":"2a1f348a.53e8ac","name":"LoRa GPS","hostname":"localhost","port":"2947","tpv":true,"sky":false,"info":false,"device":false,"gst":false,"att":false,"x":73.00004959106445,"y":177.00005912780762,"wires":[["977ba761.2a88b8","3edd29bd.c92026"]]},{"id":"977ba761.2a88b8","type":"trigger","z":"2a1f348a.53e8ac","op1":"There's GPS Data at ","op2":"No GPS !","op1type":"str","op2type":"str","duration":"1","extend":true,"units":"min","reset":"","name":"If No GPS","x":178.1669578552246,"y":101.000244140625,"wires":[["2c567ee2.e51822"]]},{"id":"3edd29bd.c92026","type":"delay","z":"2a1f348a.53e8ac","name":"Limit rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":188.16676330566406,"y":233.0001220703125,"wires":[["584a205.9d7d1e"]]},{"id":"584a205.9d7d1e","type":"split","z":"2a1f348a.53e8ac","name":"","splt":"\\n","x":304.16676330566406,"y":191.00008964538574,"wires":[["8a303a3b.094d18"]]},{"id":"8a303a3b.094d18","type":"switch","z":"2a1f348a.53e8ac","name":"GPS Data","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"true","outputs":5,"x":437.000186920166,"y":216.66667556762695,"wires":[["ff48cefe.a73a5"],["28d79a48.e56916"],["37b5f5f3.9a1b7a","6a8509f5.805138"],["2d92b50d.33bcea","40a49a9d.3e2154"],["ba938bd5.328198","6a8509f5.805138"]]},{"id":"2c567ee2.e51822","type":"debug","z":"2a1f348a.53e8ac","name":"","active":false,"console":"false","complete":"false","x":342.3334312438965,"y":84.00003433227539,"wires":[]},{"id":"28d79a48.e56916","type":"function","z":"2a1f348a.53e8ac","name":"Speed","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":641.0006484985352,"y":118.00006866455078,"wires":[["5d81ae1a.b10cd"]]},{"id":"fd5a0bb.95104f8","type":"comment","z":"2a1f348a.53e8ac","name":"Base de donnée","info":"https://www.w3schools.com/sql/sql_insert.asp","x":846.1669158935547,"y":195.0001220703125,"wires":[]},{"id":"ba938bd5.328198","type":"function","z":"2a1f348a.53e8ac","name":"Altitude","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":647.0004005432129,"y":225.33335971832275,"wires":[["5d81ae1a.b10cd"]]},{"id":"37b5f5f3.9a1b7a","type":"function","z":"2a1f348a.53e8ac","name":"Latitude","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":643.0006484985352,"y":155.33336448669434,"wires":[["5d81ae1a.b10cd"]]},{"id":"ff48cefe.a73a5","type":"function","z":"2a1f348a.53e8ac","name":"Time","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":643.0004844665527,"y":81.33335971832275,"wires":[["5d81ae1a.b10cd"]]},{"id":"2d92b50d.33bcea","type":"function","z":"2a1f348a.53e8ac","name":"Longitude","func":"msg.topic = \"INSERT INTO Mission3 (Time)\";\nreturn msg;","outputs":1,"noerr":0,"x":645.0004844665527,"y":189.33336734771729,"wires":[["5d81ae1a.b10cd"]]},{"id":"5d81ae1a.b10cd","type":"debug","z":"2a1f348a.53e8ac","name":"","active":false,"console":"false","complete":"false","x":846.8334274291992,"y":141.33336925506592,"wires":[]},{"id":"6a8509f5.805138","type":"join","z":"2a1f348a.53e8ac","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","timeout":"","count":"2","x":578.0000286102295,"y":290.0000057220459,"wires":[["40a49a9d.3e2154"]]},{"id":"40a49a9d.3e2154","type":"join","z":"2a1f348a.53e8ac","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","timeout":"","count":"2","x":600.8335266113281,"y":317.66669368743896,"wires":[["26d26838.557388","b3b8854c.61cbd8"]]},{"id":"26d26838.557388","type":"file","z":"2a1f348a.53e8ac","name":"KML File","filename":"/home/pi/lora_receiver/KML/Receiver.kml","appendNewline":true,"createDir":false,"overwriteFile":"false","x":759.5001258850098,"y":284.6667251586914,"wires":[]},{"id":"b3b8854c.61cbd8","type":"delay","z":"2a1f348a.53e8ac","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":625.3335304260254,"y":363.3333549499512,"wires":[["9bd3c82a.75e2b8"]]},{"id":"9bd3c82a.75e2b8","type":"exec","z":"2a1f348a.53e8ac","command":"sudo bash /home/pi/lora_receiver/KML/KML2.sh","addpay":false,"append":"","useSpawn":"","timer":"","name":"KML2.sh","x":774.166711807251,"y":357.6666488647461,"wires":[["78e4b0e3.2fee4"],["78e4b0e3.2fee4"],["78e4b0e3.2fee4"]]},{"id":"78e4b0e3.2fee4","type":"debug","z":"2a1f348a.53e8ac","name":"","active":false,"console":"false","complete":"false","x":948.0002174377441,"y":357.6668109893799,"wires":[]},{"id":"8ac83e84.33723","type":"exec","z":"2a1f348a.53e8ac","command":"sudo cp /home/pi/lora_receiver/KML/Modele_receiver.kml /home/pi/lora_receiver/KML/Receiver.kml","addpay":false,"append":"","useSpawn":"","timer":"","name":"Remise à zéro des fichier.kml","x":283.0000190734863,"y":27.5,"wires":[["bc875d4d.6c759"],["bc875d4d.6c759"],["bc875d4d.6c759"]]},{"id":"2ea8b777.b07358","type":"inject","z":"2a1f348a.53e8ac","name":"","topic":"","payload":"RàZ","payloadType":"str","repeat":"","crontab":"","once":false,"x":81,"y":27.500003814697266,"wires":[["8ac83e84.33723"]]},{"id":"bc875d4d.6c759","type":"debug","z":"2a1f348a.53e8ac","name":"","active":false,"console":"false","complete":"false","x":516.166690826416,"y":26.833374977111816,"wires":[]}]